* {
    margin: 0;
    box-sizing: border-box;
}
 
/* ---------- Body ---------- */
body {
    font-family: Lora, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
}
 
main {
    display: grid;
    grid-template-columns: 1fr;
    /*width: 100%;*/
    margin: 0 auto;
    row-gap: 10px;
    
}
 
/* ---------- Header ---------- */
header {
    display: grid;
    grid-template-columns: 44px auto auto;
    align-items: center;
    padding: 10px 15px;
    
    column-gap: 10px;
    width: 100%;
    background-color: rgb(54, 243, 54);
}
 
.name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}
 
/* ---------- Active Link ---------- */
.active {
    width: 150px;
}
 
.active::before {
    content: "📍";
}
 
/* ---------- Hamburger ---------- */
.hamb {
    display: block;
    border: none;
    background: none;
    font-size: 44px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.hamb::before {
    content: "\2630";
}
 
.hamb.show::before {
    content: "\00D7";
}
 
/* ---------- Navigation ---------- */
.navigation {
    display: none;
}
 
.navigation.show {
    display: block;
    height: 200px;
}
 
.navigation ul {
    margin: 0;
    
    list-style: none;
}
 
.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 130px;
}
ul {
    display: block;
}
 
/* ---------- Hero ---------- */
.hero {
    margin: 10px auto;
    width: 100%;
}
 
.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
 
.hero h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 65px;
}
 
/* ---------- Top Sections ---------- */

 
/* ---------- Business Cards ---------- */
#cards {
    display: grid;
    padding: 10px;
   margin: 0;
    border: 1px solid black;
    background-color: rgb(54, 243, 54);
    text-align: center;
    gap: 10px;
    
}
 
#cards div {
    border: 1px solid black;
    padding-bottom: 15px;
    background-color: antiquewhite;
    gap: 20px;
    display: grid;
    grid-template-areas: 
    "name"
    "goodimg"
    "address"
    "description"
    "thebutton"  
    ;
}
n 
#cards div h2 {
    height: auto;
    grid-area: name;
    width:100%;
}
#cards div  img {
    grid-area: goodimg;
}
#cards div address {
    grid-area: address;
}
#cards div p {
    grid-area: description;
}
#cards div button {
    display: flex;
    width:100px;
    grid-area: thebutton;
    
    
    
}
 
#cards div figure {
    display:flex;
   filter: none;
     width: 300px;
    justify-content: center;
}
 
#cards div figure img {
    display: block;
    margin: 0;
    width: 300px;
    
}

 
/* ---------- Grid/List Buttons ---------- */
.menu {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 10px 0;
    background-color: black;
}
 
.menu button {
    width: 70px;
    padding: 6px;
    cursor: pointer;
}

.grid > img {
    display: none;
}
 

 
/* ---------- Footer ---------- */
footer {
    background-color: antiquewhite;
    padding: 16px 0;
    text-align: center;
}
button {
   font-size: 20px;
   background-color:  rgb(54, 243, 54);
   font-weight:bold;
}
h1 {
    width: 100%;
}


/* ---------- Mobile ---------- */
@media screen and (max-width: 324px) {
 
    #cards {
        padding: 0;
    }
    main {
        padding: 0;
    }
    #cards div figure img {
    filter: none;
}
}
 
