* {
    margin: 0;
    box-sizing: border-box;
}
 
/* ---------- Body ---------- */
body {
    font-family: Lora, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
}
 
main {
    display: grid;
    grid-template-columns: 1fr;
   width: 100%;
    margin: 0 auto;
}
main a {
    position:absolute;
    color: blue;
    height: 0px;
    top: 150px;
    left: 150px;
}
 
/* ---------- Header ---------- */
header {
    display: grid;
    grid-template-columns: 44px auto auto;
    align-items: center;
    padding: 10px 15px;
    
    column-gap: 10px;
    width: 100%;
    background-color: rgb(54, 243, 54);
}
.adarkmode {
    background-color: darkgreen;
}
 
.name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}
 
/* ---------- Active Link ---------- */
.active {
    width: 150px;
}
 
.active::before {
    content: "📍";
}
 
/* ---------- Hamburger ---------- */
.hamb {
    display: block;
    border: none;
    background: none;
    font-size: 44px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.hamb::before {
    content: "\2630";
}
 
.hamb.show::before {
    content: "\00D7";
}
 
/* ---------- Navigation ---------- */
.navigation {
    display: none;
}
 
.navigation.show {
    display: block;
    height: 100px;
}
 
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 130px;
}
 

 





/* ---------- Footer ---------- */
footer {
    background-color: antiquewhite;
    padding: 16px 0;
    text-align: center;
}
.sun {
    color: rgb(255, 149, 0);
}
 
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 320px;
    
}
.sub {
    display: block;
    padding: 20px;
    min-width: 320px;
    width: 75%;
    padding-left: 20px;
    
}

label {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 320px;
}
 .mymain {
        display: flex;
        flex-direction: column;
        
    }
   
    
   h2 {
    text-align: center;
   }
   h2 {
    width: 100%;
    
    background-color: black;
    padding: 8px 0;
    }
    .gold button,
    .sliver button,
    .bronze button,
    .none button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center; /* centers button text too */
    }
    .gold, .sliver, .bronze, .none {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(54, 243, 54);
    }
   .gold h2 {
    color: gold;
   }
   .sliver {
    background-color: rgb(54, 243, 54);
   }
   .sliver h2 {
    color: silver;
   }
   .bronze {
    background-color: rgb(54, 243, 54);
   }
   .bronze h2 {
    color: rgb(206, 137, 70);
   }
   .none {
    background-color: rgb(54, 243, 54);
   }
   .none h2 {
    color:lightblue;
   }
   div {
    margin: 10px;
    height: 130px;
    width: 600px;
   }























/* ---------- Mobile ---------- */

 
