
@media screen and (min-width: 1201px) {
/* Navigation */
    .navigate {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        background-color: rgb(54, 243, 54);
        font-size: 2px;
        color: black;
        margin: 0;
        padding: 0;
        
    }
    .active {
        text-align: right;
        width: 150px;
    }
    .active::before {
        font-style: italic;
    }
 
    .navigate li {
        display: block;
        flex: 1 1 auto;
    }
 
    .navigate li a {
        display: block;
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 10px;
    }
 
    .navigate li a:hover {
        color: red;
    }
 
    /* Hide hamburger */
    #ham-bt,
    .hamb {
        display: none;
    }
 
    /* Navigation */
    .navigation {
        display: block;
    }
 
    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
 
    .navigation a {
        width: 110px;
    }
 
    /* Header */
    header {
        padding: 20px;
    }
 
    .myheader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        font-size: 20px;
    }
 
    /* Main Layout */
    .maingrid {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        gap: 10px;
    }
 
    .business {
        grid-column: 1 / span 3;
    }
 
    /* Top Menu */
    .bigmenu {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        padding: 5px 0 5px 10px;
        border-bottom: solid 1px black;
        column-gap: 10px;
        width: 100%;
        background-color: rgb(54, 243, 54);
    }
    .dark-mode {
        background-color: black;
    }

    .hero {
        margin: 0 0;
    }
}
