* {
    margin: 0;
    box-sizing: border-box;
}
 
/* ---------- Body ---------- */

 
main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto; 
}
 
/* ---------- Header ---------- */
header {
    display: grid;
    grid-template-columns: 44px auto auto;
    align-items: center;
    padding: 10px 15px;
    
    column-gap: 10px;
    width: 100%;
    background-color: rgb(54, 243, 54);
}
 
.name {
    font-size: 30px;
    font-weight: 700;
    padding-left: 15px;
}
 
/* ---------- Active Link ---------- */
.active {
    width: 150px;
}
 
.active::before {
    content: "📍";
}
 
/* ---------- Hamburger ---------- */
.hamb {
    display: block;
    border: none;
    background: none;
    font-size: 44px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.hamb::before {
    content: "\2630";
}
 
.hamb.show::before {
    content: "\00D7";
}
 
/* ---------- Navigation ---------- */
.navigation {
    display: none;
}
 
.navigation.show {
    display: block;
    height: 200px;
}
 
.navigation ul {
    margin: 0;
    
    list-style: none;
}
 
.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 130px;
}



#cards {
   display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*border: 1px solid black;*/
    background-color: rgb(54, 243, 54);
    /*text-align: center;*/
    padding: 15px;
}
 
#cards div {
    border: 2px solid black;
    
    background-color: antiquewhite;
}
 
#cards div h2 {
    height: auto;
    
    width:100%;
}


#cards div p {
   padding: 5px;
}
#cards div button {
    display: flex;
     font-family:  Lora, sans-serif;
   font-size: 20px;
   background-color:  rgb(54, 243, 54);
   font-weight:400;
}
 
#cards div figure,
#cards div figure img {
  width: 100%;
  max-width: 300px; 
}

 

 

 
/* ---------- Footer ---------- */
footer {
    background-color: antiquewhite;
    padding: 16px 0;
    text-align: center;
}

h1 {
    width: 100%;
}



 
dialog {
  width: 400px;
  height: 300px;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 20px;
  
}
::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 200px;
  right: 23px;
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
}
button {
   
}

body {
    font-family: Lora, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 0;
}