p {
    color:black;
}
select {
    width: 2250px;
    background-color: aqua;
}
form {
    background-color: blue;
}
h2,
.myfont2 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 120;
}
a,
p,
.myfont {
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.color,
.scenarios,
.purpose,
.typography,
.wireframe,
.name {
    display: block;
    background-color:aquamarine;
    border-style:solid;
    gap: 10px;
}

.wireframe {
    border-style:dashed;
    padding-bottom: 10px;
    
}
.wireframe a {
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}