
@media (min-width:1201px) {

  .navigation {
    display: block; 
    background-color:rgb(4, 143, 23);
   }

  .navigation ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 20px;
   
  }
  .hamb {
    display: none;
  }

  /* ul a {
    display:block;
    
    padding: 10px;
} */


h1 {
    grid-column: 1/ span 2;
}
/* .head {
  grid-area: title;
}
.content {
  grid-area: mycontent;
}
.pic {
  grid-area: picture;
}
.wide {
  grid-area: cert;
}
.wide {
    /* grid-column: 1/ span 2; 
    display: grid;
    grid-template-areas: 
    "title title title title title"
    "mycontent mycontent mycontent picture picture"
    "cert cert cert cert cert";
    /* grid-template-columns: 1fr 3fr; 
    gap: 10px;
    padding: 5px;

  }*/
 

.wide button {
  height: 50px;
  flex-direction: column;
}
.wide h2 {
 
  min-width: 320px;
  max-width: 100%;
}


.two { 
  display: flex;
 
  
}
.content {
  height: 100%;
}
.pic img {
  padding: 30px;
}

.thebutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

 .list {
  display:flex;
  
  justify-content: space-around;
} 
.cardlist {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
}
main {
  
  display: flex;
  flex-direction: column;
}

}