* {
    box-sizing: border-box;
}

#cards {
    display: grid;
	grid-gap: 0.5rem;
	
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    
}
section {
    box-sizing: border-box;
    border: solid  1px black;
    background-color: aquamarine;
    text-align: center;
    padding-bottom: 9px;
}
section img {
    filter:drop-shadow(8px 8px 10px);
}
 body {
    display:block;
 }
 h1 {
    background-color: aquamarine;
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
    height: 200px;
 }
 footer {
    background-color: aquamarine;
    text-align: center;
    padding-bottom: 20px;
   
    font-size: 25px;
    padding: 40px;
    margin-top: 10px;
 }