/*  Color Scheme***********************
 rgb(4, 143, 23); light green or calmgreen
 black
  green
   antiquewhite

*/
* {
    box-sizing: border-box;

}
/*******************************************HEADER**********************************************/
header {
    display: grid;
    grid-template-columns: 24px auto 46px;
    padding: 5px, 0, 5px, 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span {
    font-size:  24px;
    color: rgb(4, 143, 23);
}
/***********************************NAVIGATION HAMBURGER *********************************************/

.hamb {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamb::before {
    content: "\2630";
    font-size: 28px;
}
.hamb.show::before {
    content: "\00D7";
   
}