/*  Color Scheme***********************


*/
* {
    box-sizing: border-box;

/* HEADER ******************************************************** */

}
header {
    display: grid;
    grid-template-columns: 24px auto 24px;
    padding: 5px 10px 5px 10px;
    border-bottom: solid 1px black;
    column-gap: 10px;
    width: 100%;
    background-color: antiquewhite;
   
}

header img {
    display: block;
    width: 100%;
    height: auto;
}
 header span {
    font-size: 24px;
    color: rgb(4, 143, 23);
}
/* hambuger Menu */
.hamb {
    display: block;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 10px;
   /*  border: red solid 1px; */
}

.hamb::before {
    content: "\2630";
    
}

.hamb.show::before {
    content: "\00D7";
   
}

/* Navigation   ***************************************************** */
.navigation {
  display: none;
  
}

.navigation.show {
  display: block;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation a {
    display:block;
    padding:10px 10px;
}
/* ************************************************************** */
 a {
    text-decoration: none;
    
}
ul {
    list-style-type: none;
    
}

/* main {
    display: flex;
    flex-direction: column;
} */

/* footer******************************************************* */

footer {
    background-color: antiquewhite;
    padding: 16px 0px;
    text-align: center;
}
.clmedia {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.clmedia a {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    /* border: red dashed 1px; */
}

/* Main************************************** */

main {
   display: grid;
    grid-template-columns: 100%;
    
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0px;
}

.wide button {
    display: flex;
    
     width: 100%; 
   min-width: 320px;
   justify-content: center;
}
.wide {
    display: flex;
    flex-direction: column;
   
}
.wide h2 {
    height: 30px;
}

.content {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: black solid 2px;
    margin-top: 0;
    
}
.content h2 {
    padding:20px;
    margin: 0;
}
.content  p {
    gap: 5px;
    margin-top: 0;
    background-color: blanchedalmond;
}


.pic {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: black solid 2px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
.pic img {
    align-self: center;
    justify-content: center;
    width: 250px;
    height:auto;
    padding: 50px;
    padding-top: 20px;
}
.pic h2 {
    padding: 20px;
    margin: 0;
    
    width: 100%;
    
}
.mypic {
    background-color: antiquewhite;
}

h1 {
    background-color: rgb(62, 207, 81);
}
h2 {
    text-align: center;
    background-color: rgb(62, 207, 81);
}

.myclear li a {
    color: black;

}
.list {
  display:none;
   
  justify-content: space-around;
}
.cardlist {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  gap: 5px;
}
.cardlist section {
    border: solid 5px black;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    
}
.thebutton {
    display:flex;
    flex-direction: column;
    padding: 10px;
    
}
 
.two {
    gap: 15px;
    padding: 10px;
}